@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ:wght@100..400&display=swap");
body {
  background-image: url(images/back.jpg);
  margin: 50px auto;
  box-sizing: border-box;
  font-family: "Playwrite NZ", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

input,
textarea {
  width: 100%;
  height: 40px;
  border-radius: 8px;
}
img {
  width: 40px;
  height: 30px;
}

.main-div {
  display: flex;
  justify-content: space-around;
}
.left-bar {
  background-color: #3ab34a74;
  border-radius: 8px;
  padding: 20px 20px;
  width: 400px;
}

.button-89 {
  --b: 3px; /* border thickness */
  --s: 0.45em; /* size of the corner */
  --color: #f8f9fa;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}
